/* big screen -nav bar on the left, always visible
 one media quesry at least*/
html{
    width: 100vw;
}
body{
    margin: unset;
    width: 100vw;
}
#main-doc{
    width: 100%;
    display: flex;
    flex-direction: column;
}

#documentation-title{
    text-align: center;
    padding-top: 1rem;
    font-size: 26px;
}

header{
    font-size: 22px;
    font-weight: 600;
    text-align: left;
}

.links-list{
    list-style: none;
    border: 2px solid black;
    border-left: none;
    padding-left: 0;
    max-height: 8rem;
    overflow-y: scroll;
    margin-right: 1rem;
}


/*scrollbar styling*/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgb(182, 180, 180); 
border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(185, 181, 181); 
border-radius: 8px;
}
/* 
Handle on hover
::-webkit-scrollbar-thumb:hover {
background: #b30000; 
} */

.link{
    padding: 13px 0 13px 2rem;
    border-top: 1px solid black;
}

a {
    text-decoration: none;
    color: grey;
}

.content-section{
    width: 75%;
    margin: auto;

}

code{
    background:#eee;
    border-radius: 3px;
    padding: 0 8px;
}
.main-section header{
    text-align: left;
}

@media (min-width: 40rem){
    #main-doc{
        flex-direction: row;
    }
    .links-list{
        height: 100%;
        overflow-y: initial;
        width: 100%;
        border: none;
    }
    #navbar{
        position: fixed;
        left: 0px;
        top: 0px;
        width: 300px;
        min-width: 290px;
        border-right: 4px solid #ccc;
        height: 100%;
    }
    .content-section{
        width: 70%;
        margin-left: 310px;
        padding: 2rem;
        font-size: larger;
        overflow-y: scroll;
    }
}